<div class="jumbotron">
	<a type="button" class="btn btn-primary btn-lg" ng-click="cat = ''; thisWeek = false; message = 'All the awesome events!'">All</a>
	<a type="button" class="btn btn-primary btn-lg" ng-click="cat = 'free_food'; thisWeek = false; message = 'All about food.'">Free Food</a>
	<a type="button" class="btn btn-primary btn-lg" ng-click="cat = 'performing_arts'; thisWeek = false; message = 'All about arts.'">Performing Arts</a>
	<a type="button" class="btn btn-primary btn-lg" ng-click="cat = ''; thisWeek = true; message = 'All about this week.'">This Week</a>
	<h1 class="text-center">Events</h1>
	
	<p class="text-center">{{ message }}</p>
	<div ng-repeat="event in events | orderBy : orderByDate | filter:{category:cat} | thisWeekFilter: thisWeek" class="list-group">
	  <a href="#" class="list-group-item active">
	    <h4 class="list-group-item-heading">{{ event.title }}</h4>
	    <p class="list-group-item-text">{{ event.description }}</p>		
	    <p class="list-group-item-text">{{ event.location }}</p>
		<p class="list-group-item-text">{{ event.date }}</p>
		<p class="list-group-item-text">{{ event.time }}</p>
		<a type="button" class="btn btn-primary btn-lg" href="map.html">
		  location
		</a>
		<a href="" id="{{ event.id }}">click here to download your calender file</a>

	  </a>
	</div>

</div>

<!-- Modal -->
