<div class="jumbotron">
	<h1 class="text-center">Welcome, Student User! </h1>
	
	<p class="text-center">{{ message }}</p>
	<button><a href="#profile">Edit Profile</a></button>
	<br/><br/>
	<div class="panel panel-default">
	  <!-- Default panel contents -->
	  <div class="panel-heading"> Recommended Events </div>
		<div ng-repeat="event in getDataSource('student_user', events) | orderBy : orderByDate" class="list-group">
		  <a href="#" class="list-group-item active">
		    <h4 class="list-group-item-heading">{{ event.title }}</h4>
		    <p class="list-group-item-text">{{ event.description }}</p>
		    <p class="list-group-item-text">{{ event.location }}</p>
		    <p class="list-group-item-text">{{ event.date }}</p>
		    <p class="list-group-item-text">{{ event.time }}</p>
		    <button>Add to Favorite</button>
		    <button>Not Interested</button>
		    <button>Attended</button>
		  </a>
		</div>
	</div>

	<div class="panel panel-default">
	  <!-- Default panel contents -->
	  <div class="panel-heading"> Favorite Events </div>
		<div ng-repeat="event in getDataSource('student_user_favor', events) | orderBy : orderByDate" class="list-group">
		  <a href="#" class="list-group-item active">
		    <h4 class="list-group-item-heading">{{ event.title }}</h4>
		    <p class="list-group-item-text">{{ event.description }}</p>		    
		    <p class="list-group-item-text">{{ event.location }}</p>
		    <p class="list-group-item-text">{{ event.date }}</p>
		    <p class="list-group-item-text">{{ event.time }}</p>
		  </a>
		</div>
	</div>
</div>